body {
    background: url("../.././assets/images/tmnt_background.jpg");
    background-repeat: repeat;
    background-size: 100%;
}

.col-md-8 {
    background-color: green;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-family: 'Piedra', cursive;
    color: #f2d70c;
    margin-top: 30px;
}

#timer {
    margin-top: 30px;
    font-family: 'IM Fell Great Primer SC', serif;
    color: #f45342;
}

#last-col {
    margin-bottom: 30px;
    padding-bottom: 10px;
}

h4 {
    font-family: 'IM Fell Great Primer SC', serif;
    color: #f45342;
    margin-top: 20px;
    margin-bottom: 20px;
}

#submit-button {
    position: relative;
    left: 270px;
}

.jumbotron {
    font-family: 'Piedra', cursive;
    color: #f2d70c;
    background-color: green;
}
.btn {
    background-color: yellow;
}

#submit-button {
    background-color: yellow;
    color: green;
}

